# SpeechBrain
# Description: This configuration adds a random sequence of noise to the input signals.
#	       This configuration file can be called by the loop function and processes batches on signals.
#	       The random noise estimation and the signal normalization are executed in parallel

[global]
[/global]

[functions]
	[save]
	    class_name=data_processing.save
	    sample_rate=16000
	    save_format=flac
	    parallel_write=True	
	[/save]
[/functions]


[computations]

	id,wav,wav_len=get_input_var()

	\parallel{
        pycmd(noise_amp=0.005;noise=torch.randn_like(wav))
	pycmd(val,ind=torch.max(torch.abs(wav),dim=-1); wav_norm=wav/val.unsqueeze(1))
        }

	pycmd(wav_noise=wav_norm+noise_amp*noise)

	save(wav_noise,id,wav_len)

[/computations]



