# SpeechBrain
# Description: This configuration adds a random sequence of noise to the input signals.
#	       This configuration file can be called by the loop function and processes batches on signals.


[global]
[/global]

[functions]
	[save]
	    class_name=lib.data_io.data_io.save
	    sample_rate=16000
	    save_format=flac
	    parallel_write=True	
	[/save]
[/functions]


[computations]
	id,wav,wav_len,*_=get_input_var()
	noise_amp=0.005;noise=torch.randn_like(wav)
	wav_noise=wav+noise_amp*noise
	save(wav_noise,id,wav_len)
[/computations]



