# SpeechBrain
# Description: This configuration adds noise signals to the input signals.
#           This configuration file can be called by the loop function and processes batches on signals.


[global]
[/global]

[functions]
    [add_noise]
        class_name=data_augmentation.add_noise
        scp_file=$noise_folder/noise_rel.scp
        batch_size=2
        do_cache=True
        snr_low=-6
        snr_high=10
        pad_noise=True
        mix_prob=0.8
        random_seed=0
    [/add_noise]
    [save]
        class_name=data_processing.save
        sample_rate=16000
        save_format=flac
        parallel_write=True    
    [/save]
[/functions]


[computations]
    id,wav,wav_len=get_input_var()
    wav_noise=add_noise(wav,wav_len)
    save(wav_noise,id,wav_len)
[/computations]



