-r lint-requirements.txt
huggingface_hub>=0.0.6
hyperpyyaml>=0.0.1
joblib>=0.14.1
numpy>=1.17.0
packaging
pre-commit>=2.3.0
scipy>=1.4.1
sentencepiece>=0.1.91
SoundFile; sys_platform == 'win32'
torch>=1.8.0,<=1.10.1
torchaudio>=0.8.0,<=0.10.1
tqdm>=4.42.0
