-r lint-requirements.txt
hyperpyyaml>=0.0.1
joblib>=0.14.1
numpy>=1.17.0
packaging
pre-commit>=2.3.0
scipy>=1.4.1
sentencepiece>=0.1.91
torch>=1.7.1
torchaudio>=0.7.2
tqdm>=4.42.0
huggingface_hub>=0.0.6
SoundFile; sys_platform == 'win32'
einops>=0.3
pytorch-fast-transformers>=0.3.0
local-attention>=1.1.1
axial-positional-embedding>=0.1.0
madgrad
