# SpeechBrain
# Description: This configuration file loops over the data itemized in the scp file and processes them with the config file in processing_cfg. 
#   	       The latter computes and saves the spectrogram of the input signals.


[global]
    verbosity=2
    output_folder=exp/compute_spectrogram
    data_folder=samples/audio_samples
    scp_file=$data_folder/scp_example.scp
[/global]

[functions]    
	    
    	[loop]
	    class_name=core.loop
	    scp=$scp_file
	    batch_size=2
	    scp_read=wav
	    processing_cfg=cfg/minimal_examples/features/spectrogram.cfg
	    sentence_sorting=ascending
	    num_workers=0
	    cache=True
	    cache_ram_percent=75
    	[/loop]

[/functions]

[computations]
    
    # process the specified dataset
    loop()	

[/computations]

