better-apidoc>=0.3.1
ctc-segmentation>=1.7.0
fairseq
flair==0.13.1
https://github.com/kpu/kenlm/archive/master.zip
numba>=0.54.1
pyctcdecode
recommonmark>=0.7.1
scikit-learn
six
spacy==3.7.4
sphinx-rtd-theme>=0.4.3
Sphinx>=3.4.3
transformers
