gdown
h5py
hyperpyyaml
ipympl
librosa
ninja
numpy<2.0
pandas
pesq
pillow
protobuf
pyarrow
pyroomacoustics
pystoi
scipy
sdeint
seaborn
setuptools
git+https://github.com/sp-uhh/sgmse.git@main#egg=sgmse
tensorboard
torch
torch-ema
torch-pesq
torchaudio
torchinfo
torchmetrics
torchsde
torchvision
tqdm
